*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.onDiv{
    position: absolute;
    width: 1500px;
    height: 700px;
    left: 1%;
    top: 1%;
}
iframe{
    height: 500px;
    margin: 50px auto;
    width: 1300px;
}
.upData{
    position: fixed;
    top: 260px;
    left: 190px;
}








